.container{
    padding-left: 250px;
    align-items: center;
    justify-content:center;
}

.selected{
    height: 90px;
    border: solid 3px gray;
    width: 215px;
    height: 100px;
    border-radius: 25px;
    margin-bottom:15px ;
}

.text-selected{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    display: flex;
    color: black;
}